tgcrypto
git+https://github.com/pyrogram/pyrogram@master
git+https://github.com/yt-dlp/yt-dlp@master
youtube-search-python
aiohttp
aiofiles
asyncio
ffmpeg-python
Pillow
py-tgcalls==0.8.1rc1
pytube
wget
python-dotenv
httpx==0.14.2
search-engine-parser
youtube-search
speedtest-cli
cryptography
dnspython
future
googletrans==4.0.0-rc1
hurry.filesize
motor
pillow
psutil
pykeyboard
pyromod
requests
speedtest-cli
uvloop
telegraph
lyricsgenius
hachoir
