tgcrypto
https://github.com/pyrogram/pyrogram@master
aiohttp
aiofiles
asyncio
ffmpeg-python
Pillow
py-tgcalls
pytube
wget
python-dotenv
search-engine-parser
yt-dlp
youtube-search-python
youtube-search
speedtest-cli
cryptography
dnspython
future
googletrans==4.0.0-rc1
hurry.filesize
motor
pillow
psutil
pykeyboard
pyromod
requests
speedtest-cli
uvloop
telegraph
lyricsgenius
hachoir
