tgcrypto
pyrogram
py-tgcalls
youtube-search-python==1.4.9
yt-dlp==2021.11.10.1
ffmpeg-python
aiohttp
aiofiles
asyncio
Pillow
pytube
wget
python-dotenv
search-engine-parser
youtube-search
speedtest-cli
cryptography
dnspython
future
googletrans==4.0.0-rc1
hurry.filesize
motor
pillow
psutil
pykeyboard
pyromod
requests
speedtest-cli
uvloop
telegraph
lyricsgenius
hachoir
